//- Title of website
title PugJs-CSS-JavaScript-Template-01
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- Main CSS file
link(rel="stylesheet" type="text/css" href="../../../css/style.css")
//- Render elements
link(rel="stylesheet" href="../../../css/normalize.css")
//- Font awesome library
link(rel="stylesheet" href="../../../css/all.min.css")
//- Google fonts
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:wght@200;500&family=Roboto:wght@300;500;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")