//- Container class
- let container = "container"

//- Rating class
- let rating = "rating"

//- Number of elements
- let elements = 3

//- Letters array of sizes, [Buy page]
- let sizes = ['S', 'M', 'L', 'XL']

//- Array of quantity
    Number by default is 1
- let quns = ['-', 1, '+']